@model Model.EF.Contact

<footer class="xt-footer">
    <div class="container">
        <div class="section-separator">
            <div class="row">
                <div class="col-md-3 col-sm-3" style="margin-top:30px">
                    <div class="footer-widget">
                        <img src="/Assets/Client/images/logo.png" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3"></div>
                <div class="col-md-3 col-sm-3"></div>
                <div class="col-md-3 col-sm-3">
                    <div class="footer-widget footer-contact">
                        <h4>THÔNG TIN LIÊN HỆ</h4>
                        <ul>
                            <li><i class="fa fa-mobile-phone"></i><a href="">@Model.Phone</a></li>
                            <li><i class="fa fa-envelope-o"></i><a href="">@Model.Email</a></li>
                            <li>
                                <i class="fa fa-location-arrow"></i>
                                <address>@Model.Address</address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

